@use "../variables/colors" as *;
@use "/src/styles/variables/safeArea.scss" as *;
@use "/src/styles/variables/position.scss" as *;

.datepicker-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.datepicer-window {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 448px;
    padding: 40px 32px 0 32px;
    border-radius: 28px 28px 0 0;
    background-color: $gray-100;
}

.datepicker-selector {
    display: flex;
    height: 308px;
    overflow: hidden;
    position: relative;
}

.datepicker-column {
    width: 100%;
    z-index: 999;
    transition: transform 0.2s ease-out;
}

.datepicker-item {
    @include flex-center;
    height: 44px;
    color: #ccc;
}

.datepicker-item-active {
    color: black;
}

.date-picker-selected-area {
    width: 100%;
    height: 44px;
    margin-top: 132px;
    position: absolute;
    background-color: $gray-1;
    border-radius: 10px;
}

button {
    position: absolute;
    height: 48px;
    border-radius: 18px;
    border: none;
    bottom: 32px;
    left: 24px;
    right: 24px;
    background-color: pink;
}
