@use "../variables/colors" as *;

.header {
    position: relative;
    height: 54px;
    width: 100%;
    border-bottom: 1px solid $gray-300;
    background-color: $gray-200;
    padding: 0 16px;

    img {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
    }
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sub-btn {
        position: absolute;
        top: 50%;
        right: 16px;
        width: 40px;
        height: 40px;

        transform: translateY(-50%);
        background-color: blue;
        color: white;
    }
}
