@use "../variables/colors" as *;
@use "/src/styles/variables/safeArea.scss" as *;
@use "/src/styles/variables/position.scss" as *;

.item-wrap {
    position: relative;
    width: 100%;
    display: flex;
    transition: transform 0.2s ease;
}

.butt {
    position: absolute;
    left: -80px;
    width: 80px;
    height: 100%;
    background-color: blue;
    z-index: 99999;
}

.buttt {
    position: absolute;
    right: -80px;
    width: 80px;
    height: 100%;
    background-color: red;
    z-index: 99999;
}

.item {
    width: 100%;
    padding: 14px;
    display: flex;
    align-items: center;
    background-color: $gray-100;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    p {
        @include flex-center;
        width: 56px;
        height: 56px;
        margin-right: 12px;
        background-color: $gray-1;
        border-radius: 8px;
        font-size: 34px;
    }
}

.active-item {
    background-color: rgba(191, 204, 255, 0.169);
    border: 1px solid rgba(163, 159, 255, 0.283);
}

.item-information {
    div {
        &:first-child {
            margin-bottom: 4px;
        }

        &:nth-child(2) {
            color: $gray-3;
        }
    }
}

.item-qty {
    margin-right: 10px;
    padding: 2px 8px;
    border: 1px solid $gray-2;
    border-radius: 6px;
    color: $gray-800;
}

.sign {
    color: $gray-3;
    margin-right: 4px;
}

.qty-controler {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: calc(100vw - 32px);
    height: 68px;
    background-color: pink;
    z-index: 9999;
    display: flex;
    align-items: center;
    text-align: center;

    div {
        width: 100%;
    }
}
