@use "../variables" as *;
@use "../mixins" as *;

$input-padding: 8px 12px;
$input-border-radius: 4px;
$input-transition: 0.3s;
$full-width: 100%;

@mixin input-base {
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: 1px solid $gray-300;
    color: $gray-900;
    @include regular-18;
}

.input {
    @include input-base;
    width: $full-width;
    margin-top: 8px;
    // &:disabled {
    // color: $gray-100;
    // }
}
