@use "../mixins";
@use "../variables" as *;

.item {
    .item-detail {
        padding: 8px;
        display: flex;
        align-items: center;

        .emogi {
            padding: 8px;
            @include mixins.emogi-24;
            margin-right: 8px;
        }

        .information {
            .status {
                margin-bottom: 4px;
                display: flex;
                align-items: center;

                @include mixins.regular-14;
                color: $gray-700;
                .dot {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    margin-right: 4px;

                    display: flex;
                    align-items: center;

                    justify-content: center;

                    &.safe {
                        background-color: $status-green-light;
                        div {
                            background-color: $status-green-default;
                        }
                    }
                    &.warning {
                        background-color: $status-yellow-light;
                        div {
                            background-color: $status-yellow-default;
                        }
                    }
                    &.danger {
                        background-color: $status-red-light;
                        div {
                            background-color: $status-red-default;
                        }
                    }
                    &.expire {
                        background-color: $gray-300;
                        div {
                            background-color: $gray-700;
                        }
                    }
                    div {
                        width: 56%;
                        height: 56%;
                        border-radius: 50%;
                    }
                }
            }

            .name {
                @include mixins.regular-18;
            }
        }

        .qty {
            width: 110px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            border: 1px solid $gray-300;
            border-radius: 8px;
            @include mixins.regular-16;
            img {
                padding: 12px;
            }
        }
    }
    .divider {
        height: 1px;
        margin: 6px;
        background-color: $gray-200;
    }
}
