@use "../../variables/colors" as *;
@use "/src/styles/variables/safeArea.scss" as *;
@use "/src/styles/variables/position.scss" as *;

.app-main {
    @include position-fixed;
    @include safe-area-padding;
    background: url("/images/appmain-background.png") center / cover no-repeat;
}

.app-main-container {
    height: 100%;
    padding: 16px;
}

.folder-component {
    @include flex-center;
    flex-direction: column;
    width: 50%;
    height: 148px;
    margin: 8px 0;

    p {
        margin-top: 4px;
        color: $gray-100;
        filter: drop-shadow(0 1px 3px #0000005c);
    }
}

.folders {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
}

.folder-controls {
    height: 25%;
    display: flex;
}
