.app-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;

    background-image: url("/images/appmain-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // // safe-area 대응
    padding-top: constant(safe-area-inset-top, 0px);
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: constant(safe-area-inset-bottom, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
}
