@use "../variables/colors" as *;
@use "/src/styles/variables/safeArea.scss" as *;
@use "/src/styles/variables/position.scss" as *;

select {
    -webkit-appearance: none; /* 크롬 화살표 없애기 */
    -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
    appearance: none; /* 화살표 없애기 */
}

.add-folder {
    @include position-fixed;
    @include safe-area-padding;
    background-color: $gray-200;
}
