// base
@use "base/reset";
@use "variables/colors" as *;
@use "variables/typography" as *;

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system,
        BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: 1.5;
    color: $gray-900;

    width: 100%;
    height: 100vh;
    background-color: $gray-200;

    // 드래그 방지
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // 스크롤 방지
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none; /* Chrome/Safari */
    }
}
