@use "../variables" as *;

.container {
    height: 100vh;
    margin: 0 auto;
    background-color: $gray-100;
}

@media (min-width: 480px) {
    .container {
        background-color: blue;
    }
}
