//color
$gray-900: #505050;
$gray-800: #6b6b6b;
$gray-700: #888888;
$gray-600: #acacac;
$gray-500: #c7c7c7;
$gray-400: #eeeeee;
$gray-300: #f4f4f3;
$gray-200: #fcfbfb;
$gray-100: #fffefd;

$status-safe: #83b05e;
$status-safe-light: #f4f8ed;
$status-warning: #e7c53e;
$status-warning-light: #fbfaec;
$status-danger: #ea6061;
$status-danger-light: #fdefee;

$status-red-default: #ff7759;
$status-red-light: #ffbeb0;
$status-yellow-default: #ffd600;
$status-yellow-light: #fff2ac;
$status-green-default: #7cc27b;
$status-green-light: #ccf3cc;
